

// color variable
$bold:#4f4f4f;
$gray:#E0E0E0;
$black:#333333;
$dark:#000;
$white:#fff;
$brown:#9D6F3E;
$light_brown:#FAF8D2;
$violet:#AC84A6;

$serif: 'Satisfy', cursive;
$libre:'Libre Baskerville', serif;
$lato:'Lato', sans-serif;
